.bordered-container {

}
header {
  position: relative;
  z-index: 50;
}
.header-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.header-top__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-actions__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-transform: uppercase;
  color: #999999;
  font-size: 18px;
  padding: 0 12px;
  position: relative;
  font-style: normal;
}
.header-actions__item svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}
.header-actions__item:last-child {
  padding-right: 0;
}
.header-actions__item:first-child {
  padding-left: 0;
}

.header-top__logo img {
  width: 138px;
  height: 28px;
}
.header-top__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header-top__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px
}
.header-buttons__item {
  text-transform: uppercase;
  font-size: 18px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  white-space: nowrap;
  position: relative;
}
.header-buttons__item:last-child {
  padding-right: 0;
}
.--icon-button svg {
  width: 20px;
  height: 20px;
}
.--account-button svg {
  width: 24px;
  height: 24px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 110px;
  position: relative;
}
.header-main svg {

}
.header-main__logotype {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.header-main__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.header-social__text {
  font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
  font-size: 13px;
  line-height: 2.2;
}
.header-social__item {

}
.header-social__item svg {
  width: 20px;
  max-height: 30px;
  
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  left: auto;
  position: relative;
}
.header-main__search {
  color: #616161;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 55px;
  border: 1px solid #dedede;
  border-radius: 3px;
  -webkit-transition: .1s ease;
  -o-transition: .1s ease;
  transition: .1s ease;
  width: 220px;
  position: relative;
  height: 35px;
  display: block;
  font-size: 12px;
  letter-spacing: .03em;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
}
.header-main svg.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  left: auto;
}
.header-nav__link {
  font-family: "Georgia";
  text-transform: uppercase;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 13px;
  color: #000000;
}
.header-nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header-nav__li {

}
.header-nav {
  max-width: 960px;
  margin: 0 auto;
}

header .language {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 45px;
  position: relative;
  padding: 0 0 7px 0;
}
header .language img {
  max-width: 43px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
header .language i {
  width: 18px;
  height: 18px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  border: solid 1px #e5e5e5;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: -7px;
  line-height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e904";
}
.fa-linkedin-in:before {
  content: "\f0e1";
}
.icon-user:before {
  content: "\e908";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fas, .fa-solid {
  font-weight: 900;
}
.fas, .fa-classic, .fa-solid, .far, .fa-regular, .fal, .fa-light, .fat, .fa-thin {
  font-family: 'Font Awesome 6 Pro'!important;
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fab, .fa-brands {
  font-weight: 400;
}
.fab, .fa-brands {
  font-family: 'Font Awesome 6 Brands'!important;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}



@font-face {
  font-family: 'Font Awesome 6 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.ttf") format("truetype"); }
@font-face {
  font-family: 'Font Awesome 6 Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/fa-light-300.woff2") format("woff2"), url("../fonts/fa-light-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Font Awesome 6 Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype"); }
@font-face {
  font-family: 'Font Awesome 6 Pro';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype"); }


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wneqza');
  src:  url('../fonts/icomoon.eot?wneqza#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?wneqza') format('truetype'),
  url('../fonts/icomoon.woff?wneqza') format('woff'),
  url('../fonts/icomoon.svg?wneqza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

header a .count {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #2e3767;
  font-size: 9px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -5px;
  font-weight: 600;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-sort-down:before {
  content: "\f0dd";
}
.icon-search:before {
  content: "\e906";
}
.icon-bookmark-solid:before {
  content: "\e948";
}
.fa-x-twitter:before {
  content: "\e61b";
}

@media (min-width: 1200px) {
  .header-top,
  .header-main,
  .header-nav {
    max-width: 1200px;
  }
}

@media (max-width: 1000px) {
  .header-nav {
    max-width: 780px;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .header-nav__ul {
    justify-content: flex-start;
  }
  .header-top,
  .header-main {
    padding-right: 12px;
    padding-left: 12px;
  }
  .header-main svg.search-icon {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .header-buttons__item,
  .header-main__search,
  .header-main__social,
  .header-main svg.search-icon {
    display: none;
  }
  .header-buttons__item:nth-child(3) {
    display: flex;
  }
  .header-buttons__item:last-child {
    display: flex;
    font-size: 0;
    gap: 0;
    padding-left: 12px;
  }
  .header-main svg {
    height: 35px;
  }
  .header-main {
    height: 70px;
  }
  .header-main__logotype > img {
    max-width: 320px!important;
  }
  .header-nav__link {
    font-size: 16px;
  }
  .content-box {
    max-width: calc(100% - 22px);
    margin: 0 auto;
  }
  .header-nav {
    max-width: calc(100% - 24px);
    margin: 0 auto;
  }
}

@media (max-width: 525px) {
  .header-actions__item {
    font-size: 0;
    gap: 0;
  }
  .header-actions__item:after {
    font-size: 12px;
  }
  .header-top {
    display: none;
  }
  .header-main {
    margin-top: 24px;
  }
  .header-main__logotype > img {
    max-width: 250px!important;
  }
  header .language img {
    max-width: 36px;
  }
  .header-main__logotype {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .language {
    margin-left: 24px;
  }
}

@media (max-width: 375px) {
  .header-main svg {
    height: 30px;
  }
  .header-main {
    height: 50px;
  }
  .header-top__logo img {
    max-width: 138px;
    width: 100%;
    height: 20px;
    object-fit: contain;
  }
}